@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@400;500&family=Quicksand:wght@500&family=Roboto:ital,wght@1,100&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand' , Arial, Helvetica, sans-serif;
}

body{
  padding: 0;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  
}